{% extends "base.html" %}

{% block title %}Student Form{% endblock title %}

{% block body %}
<form method="post" >
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Student Form</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="age" class="form-label">Age:</label>
                            <input type="text" class="form-control" id="age" name="age" placeholder="Enter Your Age" required>
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Mobile Number:</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Your Mobile Number">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock body %}
